body{
    margin: 0 180px 0 180px;
    height: 100vh;
}

table{
    width: 30%;
    text-align: center;
    caption-side: bottom;
}

th, td{
    border: solid 1px black;
}

th{
    background-color: black;
    color: white;
}

video{
    width: 50%;
}

ul{
    list-style: none;
    display: flex;  
}

a{
    text-decoration: none;
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}
a:hover{
    color: red;
}

header{
    display: flex;
    justify-content: flex-start;
    background-color: #292929;
    
}

footer{
    background-color: #292929;
    color: white;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #272727;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

h5 a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: black;

    
    border-bottom: solid;
}

.col-table{
    background-color: #FFEE92;
}

iframe.map{
    
    float: right;
}

